<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #111;
            margin: 0;
            padding: 0;
            border: 0;
        }
        #logo {
            display: flex;
            justify-content: center;
            font-family: 'Bungee Inline', cursive; 
            font-size: 75px; 
            color: #FDDB61;
            }
        a 
          {
            background-color: #FDDB61;
            padding: 5px;
            border-radius: 5px;
            text-decoration: none;
            color: black;
          }
        .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #343030;
            width: 800px;
            height: 100vh;
            border: solid grey;
            margin: 0;
        }
    </style>
  </head>

  <body>
    <div class="main-content">
        <h1 id='logo'>Music App</h1>
        <% if logged_in? %>
            <h2>Welcome, <%= current_user.email %></h2>
            <form action="<%= session_url %>" method="POST">
                <input type="hidden" name="_method" value="delete"/>
                <input type="submit" value="Logout"> 
            </form>
        <% else %>
            <a href="<%= new_user_url %>">Sign Up</a>
            <br>
            <a href="<%= new_session_url %>">Login</a>
        <% end %>
        <%= yield %>
    </div>
  </body>
</html>
